@use '../base/variables' as v;
@use '../base/mixins' as m;

.contacto-main {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.1)
        ),
        url("/build/img/contacto/boardroom.avif")
    ;
    background-size: cover;
    background-position-x: center;
}
