@use '../base/variables' as v;
@use '../base/mixins' as m;

.galeria {
    width: 90%;
    margin: 0 auto 2rem;
    @include m.telefono {
        width: 75%;
    }
    @include m.tablet {
        width: 60%;
    }
    .galeria-hero {
        width: 100%;
    }
}

.thumbnails {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0;
    @include m.telefono {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }
    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

.btn-cerrar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: v.$gris;
    color: v.$rojoOscuro;
    display: grid;
    justify-items: center;
    align-content: center;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}
